@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: var(--background-color);
  padding-top: 5%;
  box-sizing: border-box;
}

.section {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  font-weight: 700;
  letter-spacing: 0.5rem;

  .title {
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: 0.875rem;
    margin-bottom: 5%;
    position: relative;
    z-index: 2;
  }

  .sectionCards {
    display: flex;
    justify-content: center;
    color: var(--color-font);
    font-size: 0.625rem;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    gap: 20px;
    position: relative;
    z-index: 2;

    .sectionDaysAndNumbers {
      width: calc((100% / 4) - 10px);
      min-width: 120px;

      .number {
        color: var(--number-color);
        background-color: var(--background-color-card);
        border-radius: 5%;
        padding: 20px;
        font-size: 2.875rem;

        box-shadow: 0px 12px 0px 0px rgba(25, 26, 36, 0.8);
        -webkit-box-shadow: 0px 12px 0px 0px rgba(25, 26, 36, 0.8);
        -moz-box-shadow: 0px 12px 0px 0px rgba(25, 26, 36, 0.8);
      }

      .titleCard {
        text-align: center;
        margin-top: 10%;
      }
    }
  }

  .figureStars {
    position: absolute;
    width: 100%;
    top: 0;

    .imgStars {
      width: 100%;
      height: 90vh;
    }
  }

  .sectionSocialMedia {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 25px;
    z-index: 10;
    gap: 5px;
  }

  .figureHills {
    width: 100%;
    position: absolute;
    bottom: 0;

    .imgHills {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 30%;
  }
}

@media (max-width: 432px) {
  .section {
    .sectionCards {
      width: 20%;
      gap: 4px;

      .sectionDaysAndNumbers {
        width: calc((100% / 4) - 2px);
        min-width: 100px;
      }
    }
  }
}

@media (max-width: 375px) {
  .section {
    .sectionCards {
      width: 10%;
      gap: 2px;
    }

    .sectionDaysAndNumbers {
      width: auto;
      min-width: 30px;
    }
  }
}
