:root {
  //font
  --font-family: "Red Hat Text", sans-serif;

  //colors:
  --color-font: hsl(237, 18%, 59%);
  --number-color: hsl(345, 95%, 68%);

  //neutral colors
  --white: hsl(0, 0%, 100%);
  --background-color-card: hsl(236, 21%, 26%);
  --background-color: hsl(235, 16%, 14%);
  --shadow: rgb(25, 26, 36);
}
